<html><head><title>banner</title><link rel="stylesheet" href="lc.css"></head>
<body bgcolor="{{ t.color }}" leftmargin="0" topmargin="0">
<table width="100%" height="58" cellpadding="4" cellspacing="0"><tr>
<td valign="top"><font color="#FFFFFF" size="4"><b>{{ t.name }}</b></font><br><font color="#DDDDDD" size="1">MEMBER SERVICES</font></td>
<td align="right" valign="top"><font color="#FFFFFF" size="1">SIGNED ON: {{ user }} &nbsp;|&nbsp; BRANCH 001<br>LegacyCore v{{ t.version }}</font></td>
</tr></table>
</body></html>
